//default colors
$background-color: #FFF4D5;
$accent-color: #E17055;
$text-color: #2C3A47;

// font styles
$font-size-large: 32px;
$font-size-regular: 16px;
$font-size-small: 12px;
$font-family-default: Arial;
$font-weight-bold: bold;
$font-weight-regular: regular; 
$line-height-default: 150%;

// Spacing

$gutter-small: 5px;
$gutter-medium: 10px;
$gutter-large: 15px;
$gutter-xlarge: 20px;