
@import '_base';
@import '_mixins';

body {
  font-family: $font-family-default;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  line-height: $line-height-default;

  padding: 0 $gutter-medium;

  color: $text-color;

@include breakpoint(large) {
    max-width: 980px;
    margin: 0 auto;
  }
}

h1 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

#groceryListContainer {
  margin: 0;
  padding: 0;

  list-style-type: none;

@include breakpoint(medium) {
    display: grid;

    grid-gap: 60px;
    grid-template-columns: auto auto auto auto;
  }
}

.groceryItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: auto;
  height: 175px;
  margin-bottom: $gutter-xlarge;
  padding: $gutter-medium;

  border-right: $gutter-small solid $accent-color;
  border-bottom: $gutter-small solid $accent-color;
  background-color: $background-color;

@include breakpoint(medium) {
    width: 175px;
    margin-bottom: 0;
  }
}

%formatText {
  line-height: 1;

  text-transform: uppercase;

  color: $accent-color;
}

.qty {
  text-align: right;

@extend %formatText;
}

.middleContent {
  min-height: 80px;
}

.item {
  text-transform: capitalize;

@extend h1;
}

.brandTypes {
  font-size: $font-size-small;
  line-height: 1.5;
}

.productCategory {
  @extend %formatText;
}
