body {
  font-family: Arial;
  font-size: 16px;
  font-weight: regular;
  line-height: 150%;
  padding: 0 10px;
  color: #2C3A47; }
  @media (min-width: 1025px) {
    body {
      max-width: 980px;
      margin: 0 auto; } }

h1, .item {
  font-size: 32px;
  font-weight: bold; }

#groceryListContainer {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media (min-width: 768px) {
    #groceryListContainer {
      display: grid;
      grid-gap: 60px;
      grid-template-columns: auto auto auto auto; } }

.groceryItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 175px;
  margin-bottom: 20px;
  padding: 10px;
  border-right: 5px solid #E17055;
  border-bottom: 5px solid #E17055;
  background-color: #FFF4D5; }
  @media (min-width: 768px) {
    .groceryItem {
      width: 175px;
      margin-bottom: 0; } }

.qty, .productCategory {
  line-height: 1;
  text-transform: uppercase;
  color: #E17055; }

.qty {
  text-align: right; }

.middleContent {
  min-height: 80px; }

.item {
  text-transform: capitalize; }

.brandTypes {
  font-size: 12px;
  line-height: 1.5; }
